<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IPs Search</title>
    <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre.min.css">
    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
</head>

<body>

    <div class="container" id="app">
        <div class="columns">
            <div class="column col-xs-12 col-8 col-mx-auto">
                <header class="navbar">
                    <section class="navbar-section">
                        <a href="./index.html" class="navbar-brand mr-2">
                            <h1>
                                Search IPs
                            </h1>
                        </a>
                    </section>
                </header>
                <ul class="tab">
                    <li class="tab-item" :class="ipip" v-on:click="active('ipip')">
                        <a href="#ipip">
                            IPIP.NET
                        </a>
                    </li>
                    <li class="tab-item" :class="maxmind" v-on:click="active('maxmind')">
                        <a href="#maxmind">
                            MAXMIND
                        </a>
                    </li>
                    <li class="tab-item" :class="IP2Location" v-on:click="active('IP2Location')">
                        <a href="#IP2Location">
                            IP2Location
                        </a>
                    </li>
                    <li class="tab-item tab-action">
                        <button class="btn btn-primary btn-sm input-group-btn" v-on:click="search">Search</button>
                    </li>
                </ul>
                <div class="columns">
                    <div class="column col-sm-12 col-md-12 col-6 col-mx-auto">
                        <textarea v-model="iplist.ipdata" class="form-input" placeholder="IP列表" rows="30"
                            v-on:keyup.enter="search"></textarea>
                    </div>
                    <div class="column col-sm-12 col-md-12 col-6 col-mx-auto">
                        <textarea v-model="resData.data" class="form-input" placeholder="查询结果"
                            rows="30">{{ resData.data }}</textarea>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer class="footer column col-xs-12 col-8 col-mx-auto">
        <div class="divider"></div>
        <div class="columns">
            <div class="column col-mr-auto">
                Designed with 
                <span class="text-error">♥</span>
                by
                <a href="https://github.com/ZMuSiShui" target="_blank" class="tooltip tooltip-top" data-tooltip="喵~">
                    MuSiShui
                </a>
            </div>
            <div class="column col-ml-auto text-right">
                View Code on
                <a href="https://github.com/ZMuSiShui/ipsearch-go" target="_blank" class="tooltip" data-tooltip="FastAPI Vue Web App">
                    Github
                </a>
            </div>
        </div>
    </footer>
</body>

<script>
    var app = new Vue({
        el: '#app',
        data: {
            ipip: "active",
            maxmind: "",
            qqzeng: "",
            IP2Location: "",
            iplist: {
                ipdb: "ipip",
            },
            resData: {}
        },
        methods: {
            active: function (i) {
                if (i == "ipip") {
                    this.ipip = "active"
                    this.maxmind = ""
                    this.IP2Location = ""
                    this.iplist.ipdb = "ipip"
                } else if (i == "maxmind") {
                    this.ipip = ""
                    this.maxmind = "active"
                    this.IP2Location = ""
                    this.iplist.ipdb = "maxmind"
                } else {
                    this.ipip = ""
                    this.maxmind = ""
                    this.IP2Location = "active"
                    this.iplist.ipdb = "IP2Location"
                }
            },
            search: function () {
                let that = this
                let url = "api/mutil"
                let data = that.iplist
                fetch(url, {
                    method: "POST",
                    body: JSON.stringify(data),
                    headers: new Headers({
                        'Content-Type': 'application/json'
                    })
                }).then(res => res.json())
                    .catch(error => console.error('Error:', error))
                    .then(response => { that.resData = response });
            }
        }
    })
</script>
<style>
    a:link,
    a:visited,
    a:hover,
    a:active {
        text-decoration: none;
    }

    .site-title a {
        color: #acb3c2;
    }

    .site-title a:hover {
        color: #F65;
    }

    .footer {
        color: #acb3c2;
        padding: .5rem .5rem .5rem .5rem;
    }

    .footer a {
        color: #667189;
    }

    .footer a:hover {
        color: #4240d4;
    }
</style>

</html>
